@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");

* {
  color: #FFFFFF;
}

body{
  background-color: #394045;
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, sans-serif;
}
